<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/appointment/{{id}}">{{vax_service}}</a></h4>
        <p>Scheduled by {{user.user_id}} on {{format_date created_at}}</p>
    </div>
        <p class="card-body">
            <div>
                <p>
                    Patient Name: {{last_name}}, {{first_name}} 
                    Phone Number: {{phone}},
                    DOB:{{dob}},
                    Address: {{address}},
                    Email: {{email}},
                </p>
            </div></p>
        
        
</div>